@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700;800&display=swap');

* {
    box-sizing: content-box;
}

/*
    TODO

    - default font change
    - line height
    - margins and paddings
    - aligns
    - tables
 */

body {
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}

/* Section styling */

section {
    margin-bottom: 3rem;
}

/* Basic styling of paragraphs and headings */

p {
    line-height: 1.5;
}

h1.lit {
    font-size: 4rem;
    font-weight: 800;
    margin: 3rem 0;
    padding: 0.5rem 1.5rem;
}

h1.lit.background {
    background: rgba(0, 85, 255, 0.25);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
}

h4, h5, h6 {
    font-size: 1.5rem;
}

/* Margins and paddings */

.lit.margins {
    margin: 1rem 0;
}

/* Container */

.lit.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

/* Images */

img.lit.responsive {
    max-width: 100%;
}

img.lit.full.width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

/* Tables */

table.lit {
    width: 100%;
    overflow-x: scroll;
}

table.lit.stripped tbody {

}

table.lit, table.lit th, table.lit td {
    border-collapse: collapse;
}

table.lit th, table.lit td {
    padding: 0.75rem 1rem;
}

table.lit th {
    text-align: inherit;
}

table.lit thead {
    background: rgba(0, 85, 255, 0.25);
}